---
name: CI Tools
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths:
      - "tools/**"
      - "nix/ci.nix"
      - "flake.nix"
      - "flake.lock"
jobs:
  test-tools:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v6

      - name: Install Determinate Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Run tool tests
        run: nix develop .#ci --command run-tool-tests
